.main {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    background-color: #1e1e1e;
  
    .headers {
      padding-top: 1rem;
      .back {
        background-color: #727272;
        border-radius: 50%;
        width: max-content;
        height: 8vh;
  
        .img {
          padding: 1rem;
        }
      }
  
      .projects {
        transform: rotate(-90deg);
        position: absolute;
        left: -9vh;
        top: 25vh;
        h2 {
          font-size: 3rem;
        }
      }
    }
    .content{
        height: 100vh;
    }
  }
  
  .mian::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .main {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }