.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    font-family: "Poppins";
    background-color: #272727;
}
div.content {
    background-color: #1e1e1e;
    margin-bottom: auto;
    width: 60vw;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #292929;
  }
  .imgRotate{
    transition: transform 0.5s ease;
  }
  .imgRotate:hover{
    transform: translateY(-4px);
  }
div.project{
    border: 1px solid #292929;
    border-radius: 8px;
    margin: 8px;
    padding: 1rem;
    height: 50vh;
    div.index{
        position: absolute;
        bottom: 5vh;
        color: #5c5c5c;
    }
    div.img{
        position: absolute;
        bottom: 15vh;
        display: flex;
        justify-content: center;
        animation: floating 2s ease-in-out infinite;
    }
    @keyframes floating {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-8px);
        }
        100% {
            transform: translateY(0);
        }
    }
}
  
  @media screen and (max-width: 768px) {
    div.content{
        width: 90vw;
      h1{
        font-size: 1.5rem;
        color: white;
      }
      h2{
        font-size: 1rem;
        color: white;
      }
      p,a{
        font-size: 0.75rem;
      }
    }
    div.project{
        height: 300px;
    }
  }
  