div.card {
  border: 0.5px solid #303030;
  border-radius: 8px;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  animation: glow 1s infinite alternate;
  margin-top: auto;
  background-color: #1e1e1e;
  position: fixed;
  bottom: 4vh;
  h1 {
    font-size: 1.5rem;
    margin: auto;
  }
  div.cardimg {
    color: #727272;
    
  }
  div.cardimg:hover {
    color: white;
  }
  div.cardbox {
    padding: 1rem;
  }
  
}
@keyframes drawBorder {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #000; /* Set your desired border color */
  }
  100% {
    border-color: transparent;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px #393939;
  }
  100% {
    box-shadow: 0 0 5px #8d8d8d;
  }
}

@media screen and (max-width:768px) {
    div.card{
        height: 10vh;
       justify-content: space-around;
        h1{
            font-size: 1rem;
        }
        p{
            font-size: 0.75rem;
        }
    }
}
@media screen and (max-width:320px) {
    div.card{
        width: 80vw;
        height: 10vh;
        gap: 1rem;
       justify-content: space-around;
        h1{
            font-size: 1rem;
        }
        p{
            font-size: 0.75rem;
        }
    }
}