.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: "Poppins";
  background: url("/public/bgjai.gif");

  div.fixedBt{
    position: absolute;
    right: 0;
    top: 0;
  }
  div.nameDiv {
    margin: auto;
    h3{
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h3 strong {
      color: #01d1ff;
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      // background: linear-gradient(90deg, #0095ff, #01e1ff, #01ffcc);
      // background-clip: text;
      // -webkit-background-clip: text;
      // background-clip: text;
      // color: transparent;
    }
  }
  div.routerDiv{
    div.command1{
      display: flex;
      gap: 1rem;
      p{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
      h4{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
      strong{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
    }
    div.command2{
      display: flex;
      gap: 1rem;
      margin-left: 1.3vh;
      p{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
      h4{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
      strong{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
    }
  }
}
div.card{
  border: 1px solid #012b35;
  border-radius: 8px;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  animation: glow 2s infinite alternate;
  margin: auto;

  div.cardimg:hover{
    transform: scale(1.2);
    transition: 3s ease-in;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px #012b35;
  }
  100% {
    box-shadow: 0 0 20px #00ccff;
  }
}
div.routerDiv{
    margin: auto;
}