.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: "Poppins";
  background-color: #1E1E1E;

  div.fixedBt{
    position: absolute;
    right: 0;
    top: 0;
  }
  div.nameDiv {
    margin: auto;
    h3{
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h3 strong {
      color: #01d1ff;
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      // background: linear-gradient(90deg, #0095ff, #01e1ff, #01ffcc);
      // background-clip: text;
      // -webkit-background-clip: text;
      // background-clip: text;
      // color: transparent;
    }
  }
  div.routerDiv{
    div.command1{
      display: flex;
      gap: 1rem;
      p{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
      h4{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
      strong{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
    }
    div.command2{
      display: flex;
      gap: 1rem;
      margin-left: 1.3vh;
      p{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
      h4{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
      strong{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
    }
  }
}