.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-family: "Poppins";
  background-color: #272727;

  div.nameDiv {
    margin: auto;
    h3 {
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h3 strong {
      color: #01d1ff;
      font-size: 3.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      // background: linear-gradient(90deg, #0095ff, #01e1ff, #01ffcc);
      // background-clip: text;
      // -webkit-background-clip: text;
      // background-clip: text;
      // color: transparent;
    }
  }
  div.routerDiv {
    div.command1 {
      display: flex;
      gap: 1rem;
      p {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
      h4 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
      strong {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
    }
    div.command2 {
      display: flex;
      gap: 1rem;
      margin-left: 1.3vh;
      p {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
      h4 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
      strong {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #01d1ff;
        font-weight: 500;
      }
    }
  }
}
div.content {
  background-color: #1e1e1e;
  width: 60vw;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #292929;
  .techStack{
    padding-left: 3rem;
  }

  .expCard {
    margin: 2rem;
    position: relative;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .expmainmain{
      h2{
        padding-bottom: 0.5rem;
      }
      p{
        padding-top: 0.5rem;
        font-size: 2rem;
      }
    }

    .expOrg{
      display: flex;
      gap: 8px;
    }
  }

  .expCard::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #4b4b4b;
  }

}
.imgRotate {
  transition: transform 0.5s ease;
}
.imgRotate:hover {
  transform: translateY(-4px);
}

@media screen and (max-width: 768px) {
  div.socials {
    display: grid;
    grid-template-columns: 1fr;
    div.socialBox {
      border: 1px solid #292929;
      width: 140px;
    }
  }
  div.content {
    width: 83vw;
    padding-left: 1rem;
    h1 {
      font-size: 1.5rem;
      color: white;
    }
    h2 {
      font-size: 1rem;
      color: white;
    }
    p,
    a {
      font-size: 0.75rem;
    }
    .expCard{
      display: grid;
      grid-template-columns: 1fr;
      div.techStack{
        padding-top: 0.5rem;
        padding-left: 0;
      }

      .expOrg{
        display: grid;
        h2{
          font-size: 1.5rem;
        }
        h3{
          font-size: 1rem;
        }
      }
      p{
        color: #c3c3c3;
      }
    }
  }
}
